.wrap{
    background-color: #00587a;
    height:100%;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding: 30px;
    

    .left{
        width:40%;
        display:flex;
        justify-content: center;
        text-align: center;
        float:left;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        //line-height: 95px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    .right{
        display:flex;
        justify-content: center;
        text-align: center;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        //line-height: 64px;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 20px 40px;
        color: #FFFFFF;

    }
}
