.modal {
    background: rgba(0, 0, 0, 0.6);

  }
  .modal-container {
    border: 2px solid black;
    border-radius: 15px;
    position: absolute;
    width: 60%;
    height: 30%;
    background: white;
    left: 25%;
    top: 30%;
    margin: 30px;
    padding: 10px 30px;
  }
  .modal-close{
    padding: 0px 0px 0px 20px;
    color: black;
    font-size: large;
    font-weight: 700;
  }