.App {

}

.content{
  //flex:1;
  //display: flex;
  background-color: rgb(85, 83, 83);
}

.footer{
  text-align: center; 
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #0f3057;
  height:50px;
  width: auto;
}

.header{
  //display: flex;
  height: 100px;
  background: #A0D1FF;
  border: 1px solid #000000;
  box-sizing: border-box;

  .top{
    height:100%;
    margin:0 auto;
    justify-content: space-between;
    display:flex;
    align-items: center;
  }

    .title{
      width: auto;
      height: 100%;
      margin-left: 50px;
      font-family: PT Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 64px;
      line-height: 85px;
      display: flex;
      align-items: center;
      text-align: center;
      color: white;
    }
}



    .createPost{
        
        height:100%;
        display:flex;
        align-items: center;

      .plus{
        width:70px;
        height:70px;
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        margin-right: 50px;
        align-items: center;
        text-align: center;

        color: #000000;
        background-color: white;
        border-color: black;
        border-style: solid;
        border-radius: 1em;
        border-width: 1px;
      }
     
    }

