.wrap{
    
    height:100%;
    .mainTitle{
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 144px;
        display:flex;
        justify-content: center;
        text-align: center;
        padding-top: 470px;
        padding-bottom: 60px;
        color:white;
        
    }
    .showPosts{

        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height:100px;
        width:15%;
        margin:auto;
        color: #000000;
        background-color:#FF6C7D;
        
        
        border-radius: 1em;
       
    }
    .about{
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        display:flex;
        justify-content: center;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 60px;
        color:white;
        text-decoration: underline;
        
    }
    .post{
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 100px;
        height:1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:white;
    }
}